NOTE: This only work on Python. I will try to make a Random Password Generator on Java, Java Script, etc, and I will post it here!

Only copy this: 

=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+

import random

lower_case = "abcdefghijklmnopqrstuvwxyz"
upper_case = lower_case.upper()
num = "0123456789"
symbol = "[]{}#()*;._-!$%^&*()-_=+\|:'\|,<.>/?"
ans = lower_case + upper_case + num + symbol
length = 10

password = "".join(random.sample(ans, length))

print ("The Password you generated is...", password)

=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+

If you want, you can add whatever letters, numbers and symbols you want. Just edit whatever you want, and yes, it will work :)

You can also edit the length of the password and I recommend it alot.
I might add more symbols, but I am trying to see if it works for mobile too.

If you have any issues, post on the Issues Tab. There's a guilde there. Thank you.
